body {
  background-image: url(../images/bg-desktop.svg);
  background-position: left;
}

header .wrapper {
  padding-top: 5rem;
}

main {
  width: 90%;
  min-height: 70%;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-image {
  max-width: 48%;
}

.main-image .wrapper {
  width: 100%;
}

.main-content {
  max-width: 48%;
  text-align: start;
  padding: 4rem 0;
  margin-left: 2rem;
  margin: 0;
}

.main-content .wrapper {
  width: 100%;
}

.main-content h1 {
  font-size: 4rem;
}

.main-content p {
  font-size: 2rem;
  line-height: 2.8rem;
}

.main-content button {
  max-width: 20rem;
  font-size: 1.7rem;
}

footer {
  margin-top: 2rem;
  padding: 0;
  text-align: end;
}

.wrapper {
  width: 90%;
}
